@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
   width: 100vw;
   height: 100vh;
   font-family: 'Roboto Mono', monospace;
   color: #FFFFFF;
   background: linear-gradient(to bottom, #243B55, #141E30);
}

h1 {
   padding: 20px 0;
   font-size: 48px;
   text-align: center;
}

.clock {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   align-items: center;

   // .clock__column
   &__column {
      position: relative;
      margin-right: 16px;
      padding: 15px;
      padding: 10px 15px;
      background: linear-gradient(to right, #eef2f3, #8e9eab);
      border-radius: 5px;
      box-shadow: 0px 0px 10px 1px rgba(236, 233, 230, 0.5);
      transition: all 0.3s cubic-bezier(0.79, 0.33, 0.14, 0.53);

      &:nth-child(even) {
         margin-right: 32px;

         &:last-child {
            margin-right: 0;
         }
      }
   }

   // .clock__num
   &__num {
      position: relative;      
      font-size: 24px;
      color: #2a2727;
      transition: all 0.3s cubic-bezier(0.79, 0.33, 0.14, 0.53);

      &:after {
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%) scale(0);
         width: 1.5em;
         height: 1.5em;
         box-shadow: 0px 0px 10px 1px rgba(38, 92, 134, 0.9);
         border-radius: 5px;
         transition: inherit;
      }

      &:not(:last-child) {
         margin-bottom: 12px;
      }

      &.active:after {
         transform: translate(-50%, -50%) scale(1);
      }
   }
}

.dev {
   position: absolute;
   bottom: 10px;
   right: 10px;

   a {
      color: #FFFFFF;

      &:hover {
         text-decoration: none;
      }
   }
}

@media (max-height: 840px) {
   h1 {
      font-size: 32px;
   }

   .clock {
      &__column {
         margin-right: 12px;
         padding: 6px 10px;
   
         &:nth-child(even) {
            margin-right: 24px;
         }
      }

      &__num {
         font-size: 18px;

         &:after {
            width: 1.3em;
            height: 1.3em;
         }

         &:not(:last-child) {
            margin-bottom: 6px;
         }
      }
   }
}

@media (max-width: 414px) {
   .clock {
      &__column {
         margin-right: 8px;
         padding: 4px 8px;
   
         &:nth-child(even) {
            margin-right: 16px;
         }
      }

      &__num {
         font-size: 16px;

         &:after {
            width: 1.2em;
            height: 1.2em;
         }

         &:not(:last-child) {
            margin-bottom: 4px;
         }
      }
   }
}

@media (max-height: 660px) {
   h1 {
      padding: 6px 0;
      font-size: 18px;
   }

   .dev {
      font-size: 14px;
   }
}

@media (max-width: 600px) and (max-height: 500px) {
   h1 {
      font-size: 16px;
   }

   .clock {
      &__column {
         margin-right: 8px;
         padding: 2px 5px;
         border-radius: 3px;
   
         &:nth-child(even) {
            margin-right: 16px;
         }
      }

      &__num {
         font-size: 12px;

         &:after {
            width: 1.2em;
            height: 1.2em;
            border-radius: 3px;
         }

         &:not(:last-child) {
            margin-bottom: 4px;
         }
      }
   }
}